.visual-info-container, .recipe-info, #recipe-img, #timer-icon {
    position: relative;
}

.image-container, .time-bar-container, .mask, .timeBar, #prepTime, #cookTime, #timer-icon-container {
    position: absolute;
}

.mask {
    z-index: 2;
    width:100%;
    bottom:0;
    left:35%;

}
.time-bar-container{
    width:200px;
    height: 200px;
}

.image-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15px 0 0 15px;
    overflow: hidden;
    border-radius: 50%;
}

#recipe-img {
    width:200px;
    height:auto;
    margin-top: 28px;
}

.timeBar {
    left:0;
}

#timer-icon-container{
    text-align: center;
    margin: auto;
}

#timer-icon{
    background-color:white;
    border-radius: 50%;
    padding:2px;
    margin-top:-7px;
}

.button-box{
    width:80%;
}

.recipe-info {
    margin-top: 180px;
}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 400px) {
    #recipe-img {
        width:200px;
    }
   
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 600px) {
    #recipe-img {
        width:200px;
    }
   .recipe-info {
       margin-top: 0%;
   }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    #recipe-img {
        width:250px;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    #recipe-img {
        width:300px;
    }
}