<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipedia</title>
    <!-- font-awesome CDN -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" integrity="sha256-KzZiKy0DWYsnwMF+X1DvQngQ2/FxF7MF3Ff72XcpuPs="crossorigin="anonymous"
    ></script>
    <!-- Google Fonts Link -->
    <link href="https://fonts.googleapis.com/css?family=Fugaz+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Patrick+Hand&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playball&display=swap" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"/>
    <!--  MDC icons-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
    <!-- custom css -->
    <link rel="stylesheet" href="./assets/css/index.css"/> 
    <link rel="stylesheet" href="./assets/css/popups.css"/>
    <link rel="stylesheet" href="./assets/css/tabs.css"/> 
    <link rel="stylesheet" href="./assets/css/buttons.css"/> 
    <link rel="stylesheet" href="./assets/css/nav.css"/> 
    <link rel="stylesheet" href="./assets/css/recipe-card.css"/> 
</head>
<body>
    {{{body}}}
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="./../../public/assets/javascript/svgArc.js"></script>
    <script src="./../../public/assets/javascript/activateTabs.js"></script>
    <script src="./../../public/assets/javascript/createRecipe.js"></script>
    <script src="./../../public/assets/javascript/dashboard-logic.js"></script>
    <script src="./../../public/assets/javascript/renderTimeBar.js"></script>
    <script src="./../../public/assets/javascript/local-storage.js"></script>
    <script src="./../../public/assets/javascript/openModal.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>