.dow-title{
    text-align: center;
}

main {
    margin-bottom: 100px;
}

.dow {
    height: fit-content;
    padding:0 8% 30px 8%;
    margin-bottom: 30px;
    border-radius: 10px;
    background-color: #cb4745;
}

/* this is all mobile stuff!!! */
.mobile-name {
    width: calc(60vw - 50px);
    margin: 0;
    margin-bottom:20px;
    padding-left:30px;
    border-bottom: 2px solid black;
    /* cuts off long text with ellipsis */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.add-btn{
    color:green
}

.bullet-point {
    margin: 0;
    display: block;
    border-radius: 50%;
    width:10px;
    height:10px;
    background-color: transparent;
    border: 1.5px solid black;
}

.recipe-card {
   border: 5px solid black;
}


.mobile-layout {
    margin-bottom:-15px;
    height:fit-content;
    width:100%;
    display:flex;
    flex-direction: row-reverse;
    align-items: center;
}
.lunch {
    flex-direction: row;
}
.meal-type {
    display: none;
}

body {
    background-color: #8f4623;

}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .recipe-card {
        padding-top: 10px;
        text-align:center;
        border-radius: 50%;
        width:50px;
        height:50px;
        background-color: transparent;
        border:2px solid #94ab36
    }
    
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .mobile-name{
        display: none;
    }
    .bullet-point{
        display: none;
    }

    body{
        background-color: white;
    }
    /* .recipe-card{
        border:none;
    } */
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}