.delete-button{
    width:fit-content;
    height:auto;
    border: none;
    cursor: pointer;
    padding:0;
    margin:0;
    background-color: transparent;
    position: absolute;
    top:0.5rem;
    right:0.5rem;
    transition:all 200ms ease-in-out;
}

.delete-button:hover, .delete-button:focus, .delete-button:active {
    background-color: transparent;
    transform: scale(1.5);
}