

.user-keywords-wrapper {
    margin: auto;
    width: 80%;
}

.ingredient-name, .ingredient-value, .ingredient-unit {
    margin-right:5px;
}

.ingredient-name {
    width:120px;
}

.ingredient-value {
    width:70px;
}

.ingredient-unit {
    width:55px;
}
.saved-ingredient {
    font-size: 1.5rem;
}