body {
  background-color: #fff;
}

.Welcome{
  text-align: center;
  font-size: x-large;
  color: #ce1823;
}

h4, .list-title {
  font-weight: bold;
}


fieldset {
  border-top: transparent;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-width: 3px;
  border-color: #8f4623;
  color: #ce1823;
}
::-webkit-input-placeholder {
  color: #ce1823 !important;
}

input[type="text"] {
  color: #ce1823;
}
/* to clear the sticky footer */
main {
  margin-bottom: 100px;

}

.main-search-bar {
  display: flex;
  justify-content: start;
  align-content: center;
  align-items: center;
}

.row, .search {
  margin-top: 33px;
}

#search-bar {
  margin:0;
  padding:5%;
  
}

#advanced-search-button {
  background-color: #94ab36;
  margin-bottom:10px;
}

#search-button {
  font-size: 30px;
  margin-left:10px;
  cursor: pointer;
}

#search-button:hover, #search-button:focus{
    transform: scale(1.4);
    color: #94ab36;
}
.spinner{
    transform: rotate3d(1,1,0,180deg);
    transition:cubic-bezier(0.445, 0.05, 0.55, 0.95) 0.5s;
}


/* ------------------------- Search Results CSS ----------------------------------------- */

#search-results{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around
}

