html {
  scroll-behavior: smooth;
}

body {
  background-image: url(../images/choppingboard-chilli.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.Welcome{
  text-align: center;
  font-size: x-large;
  color: #fff;
}

h4, .list-title {
  font-weight: bold;
}

form {
  border-style: var(--border-style);
  border-top: transparent;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-width: 3px;
  border-color: var(--border-colour);
  color: #ce1823;
}

::-webkit-input-placeholder {
  color: #ce1823 !important;
}

input[type="text"] {
  color: #ce1823;
}

/* to clear the sticky footer */
main {
  margin-bottom: 60px;
}

.main-search-bar {
  margin-top:0;
  display: flex;
  justify-content: start;
  align-content: center;
  align-items: center;
}

.row, .search {
  margin-top: 33px;
}

#search-container {
  position: relative;
  border-radius: 5px;
  margin-top: 33vh;
  padding:0;
  /* background-color: hsla(0,0%,0%,0.5); */
  /* background-color: hsla(34,25%,65%,0.4); */
  /* background-color: hsla(19,61%,35%,0.6); */
  /* background-color: hsla(0,0%,0%,0.4); */
  /* background-color: hsla(27, 84%, 85%,0.4); */
  background-color: #fff;
}

#search-bar {
  margin:0;
  padding:0 5% 0 5%;
  
}

#advanced-search-button {
  background-color: #94ab36;
  margin-bottom:10px;
}

#search-button, #search-fridge-button {
  font-size: 30px;
  margin-left:10px;
  cursor: pointer;
  transition:cubic-bezier(0.445, 0.05, 0.55, 0.95) 0.5s;
}

#search-button:hover, #search-button:focus, #search-fridge-button:hover, #search-fridge-button:focus {
    transform: scale(1.4);
    color: #94ab36;
    
}

#exclude-ingredient {
  margin-top:0;
}

.spinner3D{
  transform: rotate3d(1,1,0,180deg);
}


/* ------------------------- Search Results CSS ----------------------------------------- */

#search-results{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around
}
