.modal-container {
    background-color: rgba(0,0,0,0.4);
    overflow: auto;
    left: 0;
    top: 0;
    z-index: 1;
    display: block;
    position: fixed;
    width: 100%;
    height:100%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.recipe-modal {
    position: relative;
    padding:20px;
    width: 80%;
    background-color: white;
    margin:auto;
    border-radius: 5px;
}

.shopping-list-modal {
    position: relative;
    padding:10px;
    width: 90%;
    background-color: #ffff88;
    color: black;
    margin:auto;
    border-radius: 5px;
    transition: all 500ms ease-in-out;
}