/* ------------------------ nav -------------------------------------- */
nav {
    overflow: hidden;
    height:65px;
    position: relative;
    background-color: #bca990;
}

nav>h3 {
    font-family: 'Playball', cursive;
    padding:10px 5%;
    margin: 0;
    position: absolute;
    color: #E32227;

}

.divider {
    overflow: visible;
    background-color: transparent;
    width:0px;
    height: 100%;
    right:50%;
    position: absolute;
    z-index: 1;
}

.divider>img {
    z-index:1;
    left:0px;
    position: absolute;
    height:100%;
}

.divider-bottom {
    left:20px;
    width: 0;
    height: 0;
    border-bottom: 65px solid #ce1823;
    border-left: 70px solid transparent;
    position: absolute;
   
}
.divider-container {
    position:absolute;
    height: 100%;
    width: 100%;
}

.divider-top {
    left:38px;
    width: 0;
    height: 0;
    border-bottom: 65px solid #ce1823;
    border-left: 40px solid transparent;
    position: absolute;
}

.divider-filler {
    left:78px;
    width: 1000vw;
    height: 65px;
    background-color: #ce1823;
    position: absolute;
}


#sign-in-button{
    position: absolute;
    right:0;
    width:50px;
    height:50px;
    border-radius: 50%;
    border: none;
    background-color: #94ab36;
}

/* ---------------------- sticky footer ----------------------------- */
.footer {
    z-index:1;
    position:fixed;
    left:0px;
    bottom:0px;
    height:60px;
    width:100%;
    background-color:#bca990;
}

.button-container {
    display: flex;
    justify-content: space-evenly;
}

.footer-button {
    background-color: #94ab36;
    position: relative;
}
.footnote{
    text-align: center;
    width:100%;
    margin:auto;
}
.footnote>p{
    margin: 0;
    padding: 0;
}