.recipe-card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width:200px;
    height:200px;
    border-radius: 25px;
    transition: all 500ms ease-in-out;
    /* transition bg-colour */
    background-color: #bca990;
}

.recipe-title {
    text-align: center;
    font-size: 1.2rem;
    position:absolute;
    color:white;
    bottom:0;
    background-color: hsla(0,0%,0%,0.3);
    transition: inherit;
}

.recipe-card > img {
    position: absolute;
    width: 100%;
    height: auto;
    transition: inherit;
}

.overlay {
    opacity: 0;
    color: #cb4745;
    position:absolute;
    transition: inherit;
}

/*  transition effects */
.recipe-card:hover > .overlay {
    opacity: 1;
    transform: scale(2);
}

.recipe-card:hover > img, .recipe-card:hover .recipe-title {
    opacity: 0;
    cursor: pointer;
    transform: scale(2);
}