.Valign-start, .Valign-center, .Valign-between, .Valign-around {
    display:flex;
    align-items: center;
}

.Valign-center {
    justify-content: space-evenly;
}

.Valign-start {
    justify-content: flex-start;
}

.Valign-between {
    justify-content: space-between;
}

.Valign-around {
    justify-content: space-around;
}
.end {
    justify-self: flex-end;
}

.xgap-tiny {
    margin: 0.5rem;
}

.ygap-tiny {
    margin: 0.5rem 0 ;
}

.ygap-small {
    margin: 1rem 0 ;
}