:root{
    --background-colour:#8f4623
}

.tabs{
    overflow: hidden;
    color:teal;
    padding-bottom: 30px;
    border-top-left-radius: 5px;
    border-top-right-radius:5px;
    background-color: transparent;
  }
  
  .a-tab-left{
    border-left:3px groove var(--background-colour);
    border-right:1.5px groove var(--background-colour);
  }
  .a-tab-right{
    border-left:1.5px inset var(--background-colour);
    border-right:3px groove var(--background-colour);
  
  }
  .a-tab-right, .a-tab-left{
    color:teal;
    background-color: hsl(0, 0, 80%);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-top:3px groove var(--background-colour);
    border-bottom:2px groove var(--background-colour);
  }
  
  .tabs .indicator{
    color:teal;
    margin-left:0%;
    margin-right:0%;
    border-left:3px groove var(--background-colour);
    border-right:1.5px groove var(--background-colour);
    background-color: white;
  }
  
  .tabs .tab a:focus, .tabs .tab a:focus.active{
    background-color: white;
    color: teal;
  }
  
  .tabs .tab a:hover, .tabs .tab a.active{
    color:teal;
  }
  
  .tabs .tab a{
    color:#ce1823;
  }

  label {
      color:#ce1823;
  }
  
  /* ----------------------------------- fridge tab ------------------------------------------------------------------- */
  
  .fridge-input-wrapper{
    width:100%;
    padding:10px;
  }
  
  .chips{
    width:100%;
  } 